<!doctype html>
<html>
<head>
    <title>luna</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/504ea75c01.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Great+Vibes&family=Poiret+One&family=Roboto+Slab:wght@100;300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>luna</h1>
        <img src="" alt="">

        <a href="/login" class="btn btn-default"><i class="fa-solid fa-moon"></i> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-star"></span> Signup</a>

    </div>

</div>
</body>
</html>
